@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:600|Rambla:700&display=swap');

@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.10);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

.rambla {
  font-family: 'Rambla', sans-serif;
}

.logo-image {
  width: 50px;
  height: 50px;
  background: linear-gradient(45deg, #111, #2a4365);
  top: 2px;
  position: relative;
  display: inline-block;

  & .firefly {
    position: absolute;
    height: 2px;
    width: 80%;
    //background: linear-gradient(-45deg, rgb(237, 137, 54), rgba(255, 255, 0, 0));
    background: linear-gradient(-45deg, rgb(202, 237, 0), rgba(255, 255, 0, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 2px rgb(255, 251, 167));

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      right: 0;
      height: 2px;
      width: 30%;
      //background: linear-gradient(-45deg, rgba(255, 255, 0, 0), rgb(237, 137, 54), rgba(255, 255, 0, 0));
      background: linear-gradient(-45deg, rgba(255, 255, 0, 0), rgb(202, 237, 0), rgba(255, 255, 0, 0));
      transform: translateX(50%) rotateZ(45deg);
      border-radius: 100%;
    }

    &::after {
      @extend .firefly::before;
      transform: translateX(50%) rotateZ(-45deg);
    }

    &.one {
      left: 10%;
      top: 55%;
      transform: rotateZ(315deg);
      //opacity: 0.33;
    }
    &.two {
      left: 10%;
      top: 55%;
      transform: rotateZ(270deg);
    }
    &.three {
      left: 10%;
      top: 55%;
      transform: rotateZ(225deg);
      //opacity: 0.66;
    }
  }
}